{% extends 'base.html' %}
{% block title %} |templates{% endblock title %} 

{% block body %}
<div class="container-fluid my-2 p-2">
    <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
     <div class="col">
       <div class="card shadow-sm">
         <img src="https://img.freepik.com/free-psd/clean-modern-resume-cv-template_237398-297.jpg?w=740&t=st=1664960642~exp=1664961242~hmac=d13e6701a644950eab880b191fc86d00850f240901939d920cb6872e86cd6883" alt="" srcset="">
         <div class="card-body">
           
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group ">
               <button type="button" class="btn btn-sm btn-outline-dark bg-dark"><a class="text-decoration-none " style="color:white" href="/templates1">Select</a></button>
              <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>--> 
             </div>
             <!--<small class="text-muted">9 mins</small>-->
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
        <img src="https://img.freepik.com/free-psd/professional-modern-minimal-resume-cv-template_501970-153.jpg?w=740&t=st=1664960689~exp=1664961289~hmac=bd250ad1a9fc14cba86f35191b6c50b52d25a5e797829776b4269167b31a5fab" alt="" srcset="">
   
         <div class="card-body">
           
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark bg-dark"><a class="text-decoration-none " style="color:white" href="/templates2">Select</a></button>
              <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>--> 
             </div>
            <!-- <small class="text-muted">9 mins</small>-->
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
        <img src="https://img.freepik.com/free-vector/minimalist-cv-template_23-2148916161.jpg?w=2000" alt="" srcset="">
   
         <div class="card-body">
          
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group ">
               <button type="button" class="btn btn-sm btn-outline-dark bg-dark"><a class="text-decoration-none " style="color:white" href="/templates1">Select</a></button>
              <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>--> 
             </div>
           <!--  <small class="text-muted">9 mins</small>-->
           </div>
         </div>
       </div>
     </div>
   
     
    </div>
   </div>{% endblock body %}